
@{
    ViewBag.Title = "TarihiOlaylarOnay";
}

<h2>TarihiOlaylarOnay</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tarihi Olay</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">Olay Başlığı</a></td>
            <td>
                <select name="durum" class="form-control" asp-items=""></select>
            </td>

        </tr>
    </tbody>
</table>
